/**
 * Float Layout Activity
 **/

 * {
    box-sizing: border-box;
    text-align: center;
  }
  
  body {
    margin: 0 auto;
    width: 1000px;
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
  }
  
  header {
    padding: 20px;
    margin-bottom: 20px;
    color: #333;
    background: #ccc;
  }
  
  section {
    background: #FFA500;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  #left {
    float: left;
    width: 33.3%;
    background: #8F1D00;
    color: #ccc;
  }
  
  #middle {
    float: left;
    width: 33.3%;
    background: #ccc;
  }
  
  #right {
    float: left;
    width: 33.3%;
    background: #8F1D00;
    color: #ccc;
  }
  
  #full {
    background: #FFDED6;
    padding: 20px;
    width: 100%;
    overflow: auto;
  }
  
  #division {
    background: #DBB4AD;
    padding: 20px;
    margin-top: 20px;
  }
  
  aside {
    float: left;
    background: #F3E4E2;
    padding: 20px;
    border: 1px solid #eee;
    width: 33.3%;
    height: 200px;
    margin-left: 20px;
  
  }
  
  footer {
    background: #ccc;
    padding: 20px;
  }
  
  .clearfix::after {
    content: " ";
    display: black;
    clear: both;
  }