body {
    font-size: 26px;
    line-height: 28px;
}

.content {
    line-height: 26px;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 24px;
    line-height: 26px;
}

#fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 60px;
    padding: 20px;
    text-align: center;
    background: #BFCDE0;
}

.wrapper {
    margin: 0 auto;
    width: 1100px;
    padding: 20 px;
}

.relative {
    position: relative;
    background: #E3E9F2;
    height: 200px;
    padding: 20px;
    text-align: center;
}

#absolute {
    position: absolute;
    bottom: 0;
    right: -30px;
    height: 120px;
    width: 400px;
    background: #5D5D81;
    padding: 20px;
    text-align: center;
}

